.otomaties-jobs-publish-form {
  position: relative;

  input[name='first_name'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
  }

  label.error {
    color: rgb(212, 62, 62);
    margin-top: 0.25rem;
  }
}
